@function progress($percent){
    $deg: $percent/100 * 180;
    @return #{$deg}deg;
}
@mixin cricular-progress($percent,$skill,$color,$bgcolor){
    $progress: progress($percent);
    transform: rotate(102);
    background: linear-gradient(
        0deg,
        red 50%,
        red 50%
    );
}